<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            
            <!-- Set the page to the width of the device and set the zoon level -->
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css"/>
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }

            #chat-messages {
                min-height: 10vh;
                height: 60vh;
                width: 100%;
                overflow-y: scroll;
            }
            .tab-content {
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 10px;
            }
            .nav-tabs {
                margin-bottom: 0;
            }
        </style>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="">WTF_DIAL</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a href="/">POST_MENU</a></li>
                    <li><a href="list">LIST</a></li>
                    <li class = "active"><a href="chat">CHAT</a></li>
                  </ul>
                </div>
        </nav>
            <div class="page-header">
                    <h2>Online chat</h2>
            </div>

    </head>
    <body>
        <main id="app">
            <div class="row">
                <div class="col s12">
                    <div class="card horizontal">
                        <div id="chat-messages" class="card-content" v-html="chatContent">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="joined">
                <div class="input-field col s8">
                    <input type="text" v-model="newMsg" @keyup.enter="send">
                </div>
                <div class="input-field col s4">
                    <button class="waves-effect waves-light btn" @click="send">
                        <i class="material-icons right">chat</i>
                        Send
                    </button>
                </div>
            </div>
            <div class="row" v-if="!joined">
                <div class="input-field col s8">
                    <input type="email" v-model.trim="email" placeholder="Email">
                </div>
                <div class="input-field col s8">
                    <input type="text" v-model.trim="username" placeholder="Username">
                </div>
                <div class="input-field col s4">
                    <button class="waves-effect waves-light btn" @click="join()">
                        <i class="material-icons right">done</i>
                        Join
                    </button>
                </div>
            </div>
        </main>
        <script src="https://unpkg.com/vue@2.1.3/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script>
                new Vue({
            el: '#app',

            data: {
                ws: null, // Our websocket
                newMsg: '', // Holds new messages to be sent to the server
                chatContent: '', // A running list of chat messages displayed on the screen
                email: null, // Email address used for grabbing an avatar
                username: null, // Our username
                joined: false // True if email and username have been filled in
            },

            created: function() {
                var self = this;
                this.ws = new WebSocket('ws://' + window.location.host + '/ws');
                this.ws.addEventListener('message', function(e) {
                    var msg = JSON.parse(e.data);
                    self.chatContent += '<div class="chip">'
                            + '<img src="' + self.gravatarURL(msg.email) + '">' // Avatar
                            + msg.username
                        + '</div>'
                        + emojione.toImage(msg.message) + '<br/>'; // Parse emojis

                    var element = document.getElementById('chat-messages');
                    element.scrollTop = element.scrollHeight; // Auto scroll to the bottom
                });
            },
            methods: {
                send: function () {
                    if (this.newMsg != '') {
                        this.ws.send(
                            JSON.stringify({
                                email: this.email,
                                username: this.username,
                                message: $('<p>').html(this.newMsg).text() // Strip out html
                            }
                        ));
                        this.newMsg = ''; // Reset newMsg
                    }
            },

            join: function () {
                if (!this.email) {
                    Materialize.toast('You must enter an email', 2000);
                    return
                }
                if (!this.username) {
                    Materialize.toast('You must choose a username', 2000);
                    return
                }
                this.email = $('<p>').html(this.email).text();
                this.username = $('<p>').html(this.username).text();
                this.joined = true;
            },
            gravatarURL: function(email) {
                return 'http://www.gravatar.com/avatar/' + CryptoJS.MD5(email);
            }
        }
        });
        </script>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</html>