<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            
            <!-- Set the page to the width of the device and set the zoon level -->
            <meta name="viewport" content="width = device-width, initial-scale = 1">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            
            <style>
            .jumbotron{
                background-color:#2E2D88;
                color:white;
            }
            /* Adds borders for tabs */
            .tab-content {
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 10px;
            }
            .nav-tabs {
                margin-bottom: 0;
            }
            </style>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="">WTF_DIAL</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a href="/">POST_MENU</a></li>
                    <li class="active"><a href="list">LIST</a></li>
                    <li><a href="chat">CHAT</a></li>
                  </ul>
                </div>
            </nav>
            <div class="page-header">
                    <h2>List of dials</h2>
            </div>
    </head>
    <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Token</th>
                <th scope="col">Level</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <th scope="row">{{.ID}}</th>
                    <td>{{.Name}}</td>
                    <td>{{.Token}}</td>
                    <td>{{.Level}}</td>
                    <td>{{.ModTime}}</td>
                </tr>
                {{end}}
            </tbody>
     </table>






        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</html>