<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<!-- If IE use the latest rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<!-- Set the page to the width of the device and set the zoon level -->
		<meta name="viewport" content="width = device-width, initial-scale = 1">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<style>
		.jumbotron{
			background-color:#2E2D88;
			color:white;
		}
		/* Adds borders for tabs */
		.tab-content {
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			padding: 10px;
		}
        .nav-tabs {
			margin-bottom: 0;
		}
		</style>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			  <div class="navbar-header">
				<a class="navbar-brand" href="#">WTF_DIAL</a>
			  </div>
			  <ul class="nav navbar-nav">
				<li class="active"><a href="/">POST_MENU</a></li>
				<li><a href="list">LIST</a></li>
			  </ul>
			</div>
		</nav>
		<div class="page-header">
				<h2>Meniu</h2>
        </div>
	</head>
	    <body onload="show_error();">	
		<form method = "POST">
			ID:<input type="text" name="dialID"/><br/>
			Token:<input type="text" name="token"/><br/>
			Name:<input type="text" name="name"/><br/>
			Level: <input type=number name="level" value ="0"/><br/>
			<button type="submit" class = "btn btn-secondary" > Create </button>
		</form>
        <div id = "succes" class="alert alert-success alert-dismissible" style="display:none;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Succes!</strong> Dial created
        </div>
        <div id = "warning1" class="alert alert-danger alert-dismissible" style="display:none;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> Dial already exists 
        </div>
        <div id = "warning2" class="alert alert-danger alert-dismissible" style="display:none;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> Dial id required
        </div>

        <script type = "text/javascript">
           
            function show_error(data){
                if (data == 200){
                            $("#succes").show();
                            $("#warning1").hide();
                            $("#warning2").hide();
                        } 
                if(data == 409){
                            $("#warning1").show();
                            $("#succes").hide();
                            $("#warning2").hide();
                        }
                if(data == 400){
                            $("#warning2").show();
                            $("#succes").hide();
                            $("#warning1").hide();
                        }
                } 
                window.onload = show_error;
        </script>
       
    </body>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <script>show_error({{.}});</script>
</html>